* {
    font-family: Roboto, sans-serif;
}

header {
    background-color: rgb(241, 124, 28);
}

#logo {
  position: absolute;
  right: 0px;
  width: 30%;
  padding-top: 5px;
}

h1 {
    font-size: 1.7rem;
    display: inline-block;
    padding: 15px;
}

form {
    padding: 15px; 
    max-width: 25rem;
    label {
        display: block;
        padding: .75rem 0;
        span {
            font-size: .75 rem;
        }
        
        input, select {
            display: block;
            font-size: 1rem;
            padding: .75rem;
            background-color: #F6F6F6;
            border: 1px solid #bbb;
            margin-top: .2rem;
            border-radius: .2rem;
        }
    }

    .button {
        margin-top: 1rem;
        padding: .4rem 1rem;
        border-radius: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}







