#logo {
  position: absolute;
  right: 0px;
  width: 30%;
  padding-top: 5px;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 1.7rem;
    display: inline-block;
    padding: 15px;
}

form {
    font-family: Roboto, sans-serif;
    padding: 15px;
    label {
        padding: .75rem 0;
    }
}





