* {
    font-family: Roboto, sans-serif;
}


#logo {
  position: absolute;
  right: 0px;
  width: 30%;
  padding-top: 5px;
}

h1 {
    font-size: 1.7rem;
    display: inline-block;
    padding: 15px;
}

form {
    padding: 15px; 
    max-width: 25rem;
    label {
        display: block;
        padding: .75rem 0;
        span {
            font-size: .75 rem;
        }
        input {
            display: block;
            font-size: 1rem;
            padding: .75rem;
            background-color: #F6F6F6;
            border: 1px solid #bbb;
            margin-top: .2rem;
        }
    }
}







